.portfolio {
  min-width: 220px;
  padding: 100px 70px 125px;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 420px) {
  .portfolio {
    padding: 69px 14px;
  }
}

.portfolio__para {
  margin: 0;
  color: #a0a0a0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

@media screen and (max-width: 420px) {
  .portfolio__para {
    font-size: 14px;
  }
}

.portfolio__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.portofolio__item {
  border-bottom: 1px solid #e8e8e8;
  margin: 20px 0 0 0;
  padding: 0;
}

.portofolio__item:nth-of-type(3) {
  border-bottom: 0px;
}
.portofolio__item-link{
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.portofolio__item-header {
  margin: 0 24px 0 0;
  padding: 0;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .portofolio__item-header {
    font-size: 28px;
  }
}

@media screen and (max-width: 420px) {
  .portofolio__item-header {
    font-size: 18px;
    line-height: 28px;
  }
}

.portfolio__img {
  height: 60px;
  width: 29px;
  background-position: center;
  background-image: url(../../../images/linkPic.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .portfolio__img {
    width: 27px;
    height: 60px;
  }
}

@media screen and (max-width: 420px) {
  .portfolio__img {
    width: 18px;
    height: 28px;
  }
}
