.register {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 70px 0;
}
@media screen and (max-width: 768px) {
  .register {
    padding: 232px 0;
  }
}
@media screen and (max-width: 480px) {
  .register {
    padding: 56px 30px 30px;
  }
}

.register__container {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 396px;
  justify-content: flex-start;
}

@media screen and (max-width: 480px) {
  .register__container {
    max-width: 260px;
  }
}

.register__logo {
  transition: opacity 0.3s ease-in-out;
  width: 38px;
  height: 38px;
  align-self: flex-start;
}

.register__logo:hover {
  opacity: 0.6;
}

.register__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin: 40px 0 35px;
}
@media screen and (max-width: 480px) {
  .register__title {
    text-align: center;
    margin: 50px 0 80px;
  }

  .register__logo {
    align-self: center;
  }
}

.register__input-container {
  margin: 20px 0 0;
  position:relative;
}
.register__input-container:first-of-type {
  margin: 0px;
}
.register__input-title {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #a0a0a0;
  margin-bottom: 10px;
}

.register__input {
  background-color: transparent;
  color: #000000;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  padding: 5px 0 10px 0;
  min-width: 396px;
  outline: none;
  margin:0;
  box-sizing: border-box;
  border-bottom: #e8e8e8 1px solid;
}

.register__input:focus {
  border-bottom: solid 1px #3456f3;
  box-shadow: 0 0 0 1px #ffffff;
}

@media screen and (max-width: 480px) {
  .register__input {
    min-width: 260px;
  }
}

.register__input-error {
  position: absolute;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #ee3465;
  bottom: -16px;

}

.register__submit-btn {
  transition: opacity 0.3s ease-in-out;
  outline: none;
  cursor: pointer;
  padding: 13px;
  background-color: #4285f4;
  border: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 3px;
  margin: 0 0 16px 0;
  min-width: 396px;
}
@media screen and (max-width: 768px) {
  .register__submit-btn {
    margin: 0 0 14px 0;
  }
}

@media screen and (max-width: 480px) {
  .register__submit-btn {
    min-width: 260px;
    margin: 69px 0 14px 0;
  }
}
.register__submit-btn:disabled {
  background-color: #bfc7c5;
}

.register__btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

}

@media screen and (max-width: 480px) {
  .register__btn-container {
    margin-top: 0;
  }
}

.register__log-in {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #8b8b8b;
  white-space: nowrap;
}

.register__log-in-btn {
  transition: opacity 0.3s ease-in-out;
  outline: none;
  cursor: pointer;
  margin-left: 6px;
  background-color: #ffffff;
  color: #4285f4;
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  border: none;
}
@media screen and (max-width: 480px) {
  .register__log-in-btn {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (max-width: 480px) {
  .register__log-in {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 480px) {
  .register__input-list {
    margin-bottom: 171px;
  }
}

.register__log-in-btn:hover {
  opacity: 0.6;
}

.register__submit-btn:hover {
  opacity: 0.6;
}

.register__input-list {
  margin-bottom: 134px;
  padding: 0;

}
