.login__container {
  /* 203 */
  margin-top: 216px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .login__container {
    margin-top: 236px;
  }
}
.login__inputs {
  position: relative;
}

